<html>
<head>
    <title>Task execution report</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
<div id="stepTimesContainer" style="width: 95%; margin: auto"></div>
<div id="memoryContainer" style="width: 95%; margin: auto"></div>

<script language="JavaScript">
    function drawCharts() {
        var reportData = @ReportDataJson;

        tryDrawStepTimesChart(reportData.StepTimesData);
        tryDrawMemoryChart(reportData.MemoryData);
    }

    function tryDrawStepTimesChart(data) {
        var container = document.getElementById('stepTimesContainer');

        if (data.length === 1) {
            container.innerHTML = 'No "Step times" data.';
            return;
        }

        var stepsCount = new Set(data.map(x => x[0])).size - 1;

        var stepTimesOptions = {
            height: stepsCount * 41 + 50
        };

        var stepTimesChart = new google.visualization.Timeline(container);
        stepTimesChart.draw(google.visualization.arrayToDataTable(data), stepTimesOptions);
    }

    function tryDrawMemoryChart(data) {
        var container = document.getElementById('memoryContainer');

        if (data.length === 1) {
            container.innerHTML = 'No "Memory" data.';
            return;
        }

        var memoryOptions = {
            title: 'Memory',
            legend: { position: 'top' },
            hAxis: {
                title: data[0][0],
                viewWindowMode: 'maximized'
            },
            vAxis: { minValue: 0 }
        };

        var memoryChart = new google.visualization.ScatterChart(container);
        memoryChart.draw(google.visualization.arrayToDataTable(data), memoryOptions);
    }

    google.charts.load('current', { packages: ['corechart', 'timeline'] });
    google.charts.setOnLoadCallback(drawCharts);
</script>
</body>
</html>
