<html>
<head>
    <title>Task execution report</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
<div id="stepTimesContainer" style="width: 95%; margin: auto"></div>
<div id="memoryContainer" style="width: 95%; margin: auto"></div>

<script language="JavaScript">
    function drawCharts() {

        var reportData = @ReportDataJson;

        // StepTimes

        var stepEnds = reportData.StepTimesData.slice(1).map(x => x[2]);

        if (Math.max(...stepEnds) < 1000) {
            // Google Timeline does not render if timeline is shorter than 1000ms.
            // Force timeline to last 1000ms:
            reportData.StepTimesData.push(["_", 1000, 1000]);
        }

        var stepsCount = new Set(reportData.StepTimesData.map(x => x[0])).size - 1;

        var stepTimesOptions = {
            height: stepsCount * 41 + 50
        };

        var stepTimesChart = new google.visualization.Timeline(document.getElementById('stepTimesContainer'));
        stepTimesChart.draw(google.visualization.arrayToDataTable(reportData.StepTimesData), stepTimesOptions);

        // Memory

        var memoryOptions = {
            title: 'Memory',
            legend: { position: 'top' },
            hAxis: {
                title: reportData.MemoryData[0][0],
                viewWindowMode: 'maximized'
            },
            vAxis: { minValue: 0}
        };

        var memoryChart = new google.visualization.ScatterChart(document.getElementById('memoryContainer'));
        memoryChart.draw(google.visualization.arrayToDataTable(reportData.MemoryData), memoryOptions);
    }

    google.charts.load('current', { packages: ['corechart', 'timeline'] });
    google.charts.setOnLoadCallback(drawCharts);
</script>
</body>
</html>
