<html>
<head>
    <title>Pipeline execution report</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
<div id="itemsTimelineContainer" style="width: 95%; margin: auto"></div>
<div id="memoryContainer" style="width: 95%; margin: auto"></div>
<div id="cpuUsageContainer" style="width: 95%; margin: auto"></div>
<div id="blockTimesContainer" style="width: 95%; margin: auto"></div>

<script language="JavaScript">
    function drawCharts() {
        var reportData = @ReportDataJson;

        tryDrawItemsTimelineChart(reportData.ItemsTimelineData);
        tryDrawMemoryChart(reportData.MemoryData);
        tryDrawCpuUsageChart(reportData.GlobalData, reportData.CpuUsageData);
        tryDrawBlockTimesChart(reportData.BlockTimesData);
    }

    function tryDrawItemsTimelineChart(data) {
        var container = document.getElementById('itemsTimelineContainer');

        if (data.length === 1) {
            container.innerHTML = 'No "Items timeline" data.';
            return;
        }

        var itemsCount = new Set(data.map(x => x[0])).size - 1;

        var options = {
            height: itemsCount * 41 + 50
        };

        var chart = new google.visualization.Timeline(container);
        chart.draw(google.visualization.arrayToDataTable(data), options);
    }

    function tryDrawMemoryChart(data) {
        var container = document.getElementById('memoryContainer');

        if (data.length === 1) {
            container.innerHTML = 'No "Memory" data.';
            return;
        }

        var options = {
            title: 'Memory',
            legend: { position: 'top' },
            hAxis: {
                title: data[0][0],
                viewWindowMode: 'maximized'
            },
            vAxis: { minValue: 0 }
        };

        var chart = new google.visualization.ScatterChart(container);
        chart.draw(google.visualization.arrayToDataTable(data), options);
    }

    function tryDrawCpuUsageChart(globalData, data) {
        var container = document.getElementById('cpuUsageContainer');

        if (data.length === 1) {
            container.innerHTML = 'No "CPU usage" data.';
            return;
        }

        var options = {
            title: `CPU usage (processor count: ${globalData.ProcessorCount})`,
            legend: { position: 'top' },
            hAxis: { title: data[0][0] },
            vAxis: { minValue: 0, maxValue: 100 }
        };

        var chart = new google.visualization.LineChart(container);
        chart.draw(google.visualization.arrayToDataTable(data), options);
    }

    function tryDrawBlockTimesChart(data) {
        var container = document.getElementById('blockTimesContainer');

        if (data.length === 1) {
            container.innerHTML = 'No "Block total durations" data.';
            return;
        }

        var options = {
            title: 'Block total durations',
            legend: { position: 'top' },
            vAxis: { minValue: 0 }
        };

        var chart = new google.visualization.ColumnChart(container);
        chart.draw(google.visualization.arrayToDataTable(data), options);
    }

    google.charts.load('current', { packages: ['corechart', 'timeline'] });
    google.charts.setOnLoadCallback(drawCharts);
</script>
</body>
</html>
